<style type="text/css">
  .custom{
    border: 1px solid black;
    padding: 5px;
  }
  .lync{
    color: blue !important;
  }
  .main-post{
    border: 1px solid black;
    padding: 5px;
    margin: 1%;
    background-color: #f9f9f9;
  }
  .dashboard{
    background-color: #cbd8f2;
    padding: 2%;
  }
</style>

<div class="container dashboard">
  <div class="row custom">
    <%= link_to 'News Feed', root_path , :class => "btn btn-default"%>
    <%= link_to 'My Profile', dashboard_index_path , :class => "btn btn-default"%>
    <%= link_to 'Post', new_post_path , :class => "btn btn-default"%>
    <%= link_to 'My Posts', my_posts_path, :method => :get, :class => "btn btn-default"%>
    <%= link_to 'Friend Requests', friends_path ,method: :get, :class => "btn btn-default"%>
    <%= link_to 'My Friends', show_all_friends_path ,method: :get, :class => "btn btn-default"%>
  </div>

  <div class="row"><h2>Recent Posts</h2><hr> </div>
  <% @posts.each do |post| %>
  <div class="row">
    <div class="row main-post">
      <%= post.body %> <br><br>
    </div>
    -posted by <%= link_to post.user.username, show_user_path_url(post.user.id), :class => "lync" %> &thinsp;&thinsp;&thinsp; <br><br>
      <%= form_for(Comment.new , url: comments_path ,method: :post) do |f| %>
        <%= f.label :Type_comment_here %>
        <%= f.text_area :comment %>
        <%= f.hidden_field :post_id , value: post.id  %>
        <%= f.hidden_field :user_id , value: current_user.id  %>
      <%= submit_tag 'Comment' %><br><br>
    <% end %><br>
    <%= link_to 'View Comments', post_path(post.id), method: :get %>
    <hr>
  </div>
  <% end %>
  <%= link_to 'Back', root_path %>
</div>