<style type="text/css">
  .custom{
    border: 1px solid black;
    padding: 5px;
  }
  .lync{
    color: blue !important;
  }
</style>

<div class="container">
  <div class="row custom">
    <%#= link_to 'My Profile', "/dashboard/#{current_user.id}", method: :get , :class => "btn btn-default"%>
    <%= link_to 'News Feed', root_path , :class => "btn btn-default"%>
    <%= link_to 'My Profile', dashboard_index_path , :class => "btn btn-default"%>
    <%= link_to 'Post', new_post_path , :class => "btn btn-default"%>
    <%= link_to 'My Posts', my_posts_path, :method => :get, :class => "btn btn-default"%>
    <%= link_to 'Friend Requests', friends_path ,method: :get, :class => "btn btn-default"%>
    <%= link_to 'My Friends', show_all_friends_path ,method: :get, :class => "btn btn-default"%>
  </div>

  <div class="row"><h2>Recent Posts</h2><hr> </div>
  <% @posts.each do |post| %>
  <div class="row">
    <%= post.title %> <br>
    <%= post.body %> <br><br>
    -posted by <%= link_to post.user.username, show_user_path_url(post.user.id), :class => "lync" %> &thinsp;&thinsp;&thinsp;
    <%= link_to 'Comment', post_path(post.id), method: :get, :class => "btn btn-default"%>
    <hr>
  </div>
  <% end %>
  <%= link_to 'Back', root_path %>
</div>